[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
isort = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
pytest-mock = "*"

[packages]
dynaconf = "*"
uvicorn = "*"

[requires]
python_version = "3.7"
